<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRchDS8lTWeL1sUhpwTzhwMTkWQ8RGlQVXpA&s"
      cardTitle="NOVO FILME DO HOMEM DE FERRO"
      cardDescription="A Marvel anunciou que lançará um novo filme do homem de ferro até o final do ano. A notícia foi bem recebida pelos fãs."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTofVOKT0DO4X-O3TZkCzhps6-YxOg06jiYaw&s"
    cardTitle="Nova série da Marvel será lançada em 2025"
    ></app-small-card>
    <app-small-card
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTofVOKT0DO4X-O3TZkCzhps6-YxOg06jiYaw&s"
    cardTitle="Nova série da Marvel será lançada em 2025"
    ></app-small-card>
    <app-small-card
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTofVOKT0DO4X-O3TZkCzhps6-YxOg06jiYaw&s"
    cardTitle="Nova série da Marvel será lançada em 2025"
    ></app-small-card>
  </div>
</div>
